@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  @apply text-center mb-10 rounded-xl bg-gradient-to-r from-[#F7A2A1] to-[#FFED00] smallPhone:w-5/6 sm:w-3/5 md:w-2/5
}

